:root {
	/* PlanShepherd Colors */
	--psred: #931621;
	--psdark: #28464B;
	--pslight: #53917E;
	--psblue: #0C6291;
	--pswhite: #FFFEF9;
	--psbluetrans: rgba(12, 98, 145, 0.3);
	--psredtrans: rgba(147, 22, 33, 0.3);
	--psdarktrans: rgba(40, 70, 75, 0.3);
	
	
}

/* custom fonts */
@font-face {
	font-family: 'avenir';
	src: url("../fonts/Avenir.ttc");
}
@font-face {
	font-family: 'foundry';
	src: url("../fonts/FoundryMonoline=regular.otf");
}
@font-face {
	font-family: 'myanmar';
	src: url("../fonts/Myanmar-MN.ttc");
}

/* general custom classes */
.bc-blue {
	background-color: var(--psblue);
}

.bc-red-trans {
	background-color: var(--psredtrans);
}

.bc-white {
	background-color: var(--pswhite);
}

.countydrop {
	display: inline;
}

.modal-container {
	white-space: nowrap;
}

.inline {
	display: inline;
}

/* custom classes for index */
.home-form {
	border-style: solid;
	border-width: 2px;
	border-color: var(--psblue);
	border-radius: 25px;
	color: var(--pswhite);
	text-align: left;	
}

.screen-form {
	background-color: var(--pswhite);
	color: var(--psblue);
	text-align: center;
	border-radius: 25px;
}

/* custom classes for navigate */
.modal-form {
	border-style: solid;
	border-width: 2px;
	border-color: var(--psbluetrans);
	border-radius: 25px;
	color: var(--psdark);
	text-align: center;
}

.innerbox {
	background-color: var(--pswhite);
	color: var(--psdark);
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: var(--psdarktrans);
	border-radius: 25px;
}

.modal1{
	display: inline-block;
	position: relative;
}

.modal2, .modal3, .modal4, .modal5, .modal6, .modal7 {
	display: inline-block;
	position: relative;
	opacity: 0;
	white-space: normal;
}

.modal3Header {
	text-align: left;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

/* bootstrap style extensions */
.navbar-brand-logo {
	height: 3.5rem;
}